:root {
  --grey: #313131;
  --light-grey: #c4c4c4;
  --scaling: 5;
  --background: black;
  --text-color: var(--light-grey)
}

html,
body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background-color: var(--background);
}

.header,
.movie {
  background-color: red;
  color: var(--text-color);
  margin: 0 3rem;
  padding: 0;
}

.header {
  margin-top: 3rem;
}

.headerContainer {
  background-color: black;
}

.headerContainer,
.header {
  /* margin-bottom: 3rem; */
  position: sticky;
  top: 0;
  padding: .5rem;
}

.movie {
  border-radius: 5px 5px 0 0;
  margin-top: 1.5rem;
  margin-bottom: 0;
  padding-bottom: 0;
  /* padding: 1rem; */
}

.movie:hover {
  background-color: var(--light-grey);
}

.poster {
  /* max-width: calc(2.97rem * var(--scaling));
  max-height: calc(4.2rem * var(--scaling)); */
  margin-left: auto;
  max-width: 100%;
  max-height: 100%;
}

.fa {
  color: green;
}